.bigDiv{
    .center();
    flex-direction: column;
    header{
        .center();
        
    }
    .jumboTron{
    width:90%;
    height:80vh;
    margin:4%;
    .center();
    align-items:center;
    background-image:url('/assets/home.png');
    background-size:cover;
    background-repeat: no-repeat;
    flex-direction: column;
    }
    .artists-container{
        .DSA(flex,space-evenly,center);
        .artist{
            .center();
            flex-direction: column;
            width:50%;
            height:auto;
            
            img{
                width:50%;
                height:30vh;
               
            }
            a{
                text-decoration: none;
                font-size:1.5rem;
                text-align:center;
                margin:2%;
            }
            bio{
                margin:2%;
            }
        }
    }


}
footer{

    text-align: center;
}